body {
    background-color: #f8f9fa; 
}

.container {
    text-align: center;
    background-color: #282727;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 30px;
    max-width: 800px;
}

#heading {
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    color: #e5d5bc;
    margin-bottom: 30px;
}

.detailscont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.deta1, .deta2 {
    width: 48%;
}

.label {
    font-family: "Monda", sans-serif;
    font-size: 18px;
    color: #e5d5bc;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    margin-bottom: 15px;
    font-family: "Monda", sans-serif; 
    font-size: 16px; 
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="password"]:focus, select:focus {
    outline: none;
    border-color: #495057;
}

button {
    border: 2px solid white;
    color: #050024;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button:hover {
    border-color: #13202c;
    background-color: #13202c;
    color: white;
}

.textlow a {
    color: #050024;
    font-family: "Monda", sans-serif;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.textlow a:hover {
    color: #495057;
}

.selcontainer {
    position: relative;
    width: 100%;
    margin-top: -10px;
}

.selcontainer::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
}

option {
    font-size: 16px;
    text-align: center;
}

