@font-face {
    font-family: "Monda";
    src: url("Monda-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

img
{
    width: 8vw;
    height: 6vw;
    float: left;
}



body {
    background-color: #FDFFF0;
}

.navbar {
    overflow: hidden;
    background-color: #FDFFF0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: black;
    text-align: center;
    margin: 1vw;
    text-decoration: none;
    padding: 1vw;
}

.navbar a:hover {
    display: inline-block;
    color: rgb(131, 131, 131);
    
}

#pehla
{
    margin-left: -5.9vw;
}

.footer {
    display: flex;
    justify-content: flex-start;
    background-color: #374047;
    color: white;
    position:absolute;
    bottom:0;
    left:0;

}

.left {
    flex: 1;
    text-align: left;
    padding: 2vw;
}

.column {
    flex: 1;
    margin-right: 2vw;
    margin-left: 2vw;
    font-size: 1.5vh;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Monda",sans-serif;
}

#content
{
    text-align:justify;
    font-family: "Monda",sans-serif;
    font-size:1.5vh;
}

#topic
{
    margin-top: -1vw;
    font-family: "Monda",sans-serif;
    font-size:2vh;

}

p
{
    font-family: "Monda",sans-serif;
}

.contactlist{
    font-size: 1.5vh;
}
.gallery{
    width: 70vw;
    position: absolute;
    display: flex;
    overflow-x:scroll;
    top:10vh;
    left:15vw;
}

.gallery div{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0vw;
    flex:none;
}

.gallery img{
    width: 70vw;
    height: 30vh;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width:70vw;
    height:30vh;
}
.gallery::-webkit-scrollbar{
    display:none;
}

#back{
    position: absolute;
    left:10vh;
    width:2vw;
    height:5vh;
    top:25vh;
    cursor: pointer;
}

#front{
    position: absolute;
    right:10vh;
    width:2vw;
    height:5vh;
    top:25vh;
    cursor: pointer;
}

#Account{
    height: 3vw;
    width: 3vw;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding-top: 3vh;
    padding-right: 2vw;
    position:relative;
}

.AccountDrop {
    display: none;
    position: absolute;
    top: 8vh;
    right: 0;
    background-color: #fcfef1;
    min-width: 1vw;
    box-shadow: 0 1vh 1vw 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.AccountDrop a {
    color: black;
    padding: 1vw 1vh;
    text-decoration: none;
    display: block;
}

.AccountDrop a:hover {
    background-color: #fcfef1;
}