@font-face {
    font-family: "Monda";
    src: url("Monda-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
}
img
{
    width: 10vw;
    height: 8vw;
    float: left;
}



body {
    background-color: white;
    overflow-x: hidden;
}

.navbar {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: black;
    text-align: center;
    margin: 1.5vw;
    text-decoration: none;
    padding: 1vw;
    font-size:1.2vw;
    font-family: "Mukta Vaani", sans-serif;
}

.navbar a:hover {
    display: inline-block;
    color: #e6bc7c;
    
}

#pehla
{
    margin-left: -5.9vw;
}

.footer {
    padding:1vw;
    display: flex;
    justify-content: flex-start;
    background-color: #282727;
    color: #e5d5bc;
    position: absolute;
    top: 237vh;
    bottom:0;
    left:0;
    height: 39vh;
    font-family: "Mukta Vaani", sans-serif;
}

.left {
    flex: 1;
    text-align: left;
    padding: 2vw;
    font-family: "Mukta Vaani", sans-serif;
}

.column {
    flex: 1;
    margin-right: 2vw;
    margin-left: 2vw;
    font-size: 2.3vh;
    font-family: "Mukta Vaani", sans-serif;
    padding-top:2vh;
}

a {
    color: #e5d5bc;
    text-decoration: none;
    font-family: "Monda";
    font-size:2.3vh;
}

#content
{
    text-align:justify;
    font-family: "Mukta Vaani", sans-serif;
    font-size:2vh;
}

#topic
{
    margin-top: -1vw;
    font-family: "Mukta Vaani", sans-serif;
    font-size:2.5vh;

}

p
{
    font-family: "Mukta Vaani", sans-serif;
}

.contactlist{
    font-size: 2.3vh;
}

.contactlist{
    font-size: 2.3vh;
}

/*Image Slider*/

.gallery-wrap
{
    margin-top: -2vw;
    margin-left: 10vw;
    width: 80vw;
    height: 50vh;
    border-radius: 10px;
}

.gallery
{
    width: 300% ;
    height: 50vh;
    display: flex;
}

.gallery input
{
    display: none;
}

.im
{
    width: 40% ;
    transition: 2s;
    margin-right: 10vw;
}

.gallery img
{
    width: 80vw;
    height: 50vh;
}

.gallery::-webkit-scrollbar{
    display:none;
}

/* Manual navigation */
.manual-navi
{
    position:absolute;
    width: 70vw;
    margin-top: 45vh;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
}

.manual-btn
{
    border: 2px solid rgb(165, 42, 42) ;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child)
{
    margin-right: 0.8vw;
}

.manual-btn:hover
{
    background-color:rgb(90, 90, 95);
}

#radio1:checked ~ .fir
{
    margin-left: 0;
}

#radio2:checked ~ .sec
{
    margin-left: -37%;
}

#radio3:checked ~ .thir
{
    margin-left: -74%;
}

#radio4:checked ~ .fou
{
    margin-left: -132%;
}

#radio5:checked ~ .fif
{
    margin-left: -177%;
}

/* Automatic Navig */
.autonavi
{
    position:absolute;
    width: 70vw;
    margin-top: 45vh;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
}

.autonavi div
{
    border: 2px solid rgb(165, 42, 42) ;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.autonavi div:not(:last-child)
{
    margin-right: 0.8vw; 
}

#radio1:checked ~.autonavi .auto-btn1
{
    background-color: rgb(90, 90, 95);
}

#radio2:checked ~.autonavi .auto-btn2
{
    background-color: rgb(90, 90, 95);
}

#radio3:checked ~.autonavi .auto-btn3
{
    background-color: rgb(90, 90, 95);
}

#radio4:checked ~.autonavi .auto-btn4
{
    background-color: rgb(90, 90, 95);
}

#radio5:checked ~.autonavi .auto-btn5
{
    background-color: rgb(90, 90, 95);
}


.main
{
    margin-top:12vh;
}

/*Account Info*/
#Account{
    height: 2.5vw;
    width: 2.5vw;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    padding-top: 3vh;
    padding-right: 2vw;
    position:relative;
}

.AccountDrop {
    display: none;
    position: absolute;
    top: 9vh;
    right: 1vw;
    background-color: #eff0ec;
    min-width: 1vw;
    box-shadow: 0 1vh 1vw 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:1vw;
}

.AccountDrop a {
    color: #282727;
    padding: 0.5vw 1vh;
    text-decoration: none;
    display: block;
    font-family: "Mukta Vaani", sans-serif;
}

.AccountDrop a:hover {
    border-radius: 1vw;
    background-color: #e5d5bc;
    color:#282727;
}

  /*SECOND SECTION*/
  .subcont
  {
    display:flex;
    background-color:#282727;
    margin-top:8vw;
    height:32vw;
  }

  #findy
  {
    margin-top:1.5vw;
    width:45vw;
    height:29vw;
    margin-left:1vw;
  }

  #subh
  {
    color:#e5d5bc ;
    font-size:3vw;
    margin-left:6vw;
    margin-top:5vw;
    font-family: "Mukta Vaani", sans-serif;
    font-size:5vw;
  }

  .subcont p{
    margin-left:6vw;
    font-size:1.3vw;
    margin-right:6vw;
    color:white;
    text-align:left;
  }

  #buttu
  {
    margin-left:6vw;
    margin-top:1vw;
    width:10vw;
    height:4vw;
    border-radius:2vw;
    color:#282727;
    background-color: #e5d5bc;
    font-size:1.5vw;
    font-family: "Mukta Vaani", sans-serif;
    font-weight: bold;
  }

  #buttu:hover
  {
    background-color:#282727;
    border-color: #e5d5bc;
    color:#e5d5bc;
  }

  /*REVIEW SECTION*/
  .revicont
  {
    margin-top:-6vw;
    display:flex;
    background-color:white;
    height:30vw;
  }

  #revih
  {
    margin-top:4vw;
    margin-left:31vw;
    font-size:3vw;
    font-family: "Mukta Vaani", sans-serif;
  }

  #pararev
  {
    margin-left:20vw;
    margin-right:20vw;
    text-align:center;
    font-size: 2vh;
    font-family: "Mukta Vaani", sans-serif;
  }

  .revicont img
  {
    width:14vw;
    height:5vw;
    margin-left:5vw;
    padding-right:5vw;
    margin-top:0.6vw;
  }

  .revicont p
  {
    margin-top:7vw;
    text-align:justify;
    padding:1vw;
    color:#282727;
  }

  #per2
  {
    width:12vw;
    margin-left:6vw;
  }
  
  #per3
  {
    height:4.5vw;
  }

  .revi1
  {
    margin-left:5vw;
    margin-top:9vw;
    margin-right:3vw;
    margin-bottom:3vw;
    width:25vw;
    background-color:#EFF0EC;
    border-radius:2vw;
    font-family: "Mukta Vaani", sans-serif;
    font-size:1.7vh;
  }

  .revi2
  {
    margin-top:9vw;
    margin-left:3vw;
    margin-right:3vw;
    margin-bottom:3vw;
    width:25vw;
    background-color:#EFF0EC;
    border-radius:2vw;
    font-family: "Mukta Vaani", sans-serif;
    font-size:1.7vh;
  }

  .revi3
  {
    margin-top:9vw;
    margin-left:3vw;
    margin-right:3vw;
    margin-bottom:3vw;
    width:25vw;
    background-color:#EFF0EC;
    border-radius:2vw;
    font-family: "Mukta Vaani", sans-serif;
    font-size:1.7vh;
  }
  .footer li{
    list-style : none;
    font-family: "Mukta Vaani", sans-serif;
}

.column a{
    font-family: "Mukta Vaani", sans-serif;
}

.locations {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position:absolute;
    top:200%;
}

.location-map {
    flex: 1;
    margin-right: 20px; /* Adjust as needed */
}

.location-list {
    flex: 1;
}

.location-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.location-list ul li {
    margin-bottom: 10px;
}