<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5 mb-5">
        <h3>PROFILE</h3>
        <% Object.keys(user).forEach(function(key) { %>
            <div class="row mt-2">
                <div class="col-md-6"><label class="labels"><%= key %></label><input type="text" class="form-control" value="<%= user[key] %>"><i class="fas fa-edit edit-icon"></i></div>
            </div>
        <% }); %>
    </div>
</body>
</html>
