body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 80vw;
    margin: 10vh auto;
    padding: 5vw;
    text-align: center;
    background-color: #282727;
    border-radius: 5vw;
    box-shadow: 0 2vw 3vw rgba(0, 0, 0, 0.1);
}

.thank-you-heading {
    font-size: 4vw;
    color: #e5d5bc;
    margin-bottom: 2vw;
}

.thank-you-message {
    font-size: 2vw;
    color: white;
    margin-bottom: 2vw;
}

.additional-message {
    font-size: 1.5vw;
    color: aliceblue;
    margin-bottom: 3vw;
}

.btn {
    display: inline-block;
    padding: 2vw 4vw;
    background-color: #e5d5bc;
    color: #282727;
    text-decoration: none;
    border-radius: 1vw;
    transition: background-color 0.5s;
    font-size:1.2vw;
}

.btn:hover {
    background-color:#282727;
    color:#e5d5bc;
    border-color: #e5d5bc;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.container {
    animation: slideIn 0.5s forwards;
}
